<h2 class="page-title">Browse Samples</h2>
<div class="main-content">
    <section id="left" class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default m-b-20">
                <span class="panel-heading">Samples</span>
                <div id="sampleInfo" class="panel-body-padding clearfix">
                    <div id="browse-controls" class="col-lg-12">                                               
                    </div>
                    <div class="BrowsePagination">

                    </div>
                    <div>
                        <table id="tblBrowseSamples" class="table table-condensed table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>CN</th>
                                    <th class="text-right">STN</th>
                                    <th class="text-center">BN</th>
                                    <th class="text-right">LN</th>
                                    <th class="text-right">RTN</th>
                                    <th>Grower</th>
                                    <th>ID1</th>
                                    <th>ID2</th>
                                    <th>ID3</th>
                                    <th class="text-center">Received</th>
                                    <th class="text-center">Reported</th>
                                    <th>Reviewed</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="s in samples">
                                    <td>{{s.CustomerNumber}}</td>
                                    <td>{{s.SampleTypeNumber}}</td>
                                    <td>{{s.LabNumber}}</td>
                                    <td>{{s.ReportTypeNumber}}</td>
                                    <td>{{s.ResultsFor}}</td>
                                    <td>{{s.SampleID1}}</td>
                                    <td>{{s.SampleID2}}</td>
                                    <td>{{s.SampleID3}}</td>
                                    <td>{{s.DateReceived}}</td>
                                    <td>{{s.DateReported}}</td>
                                    <td>{{s.Reviewed}}</td>
                                    <td>{{}}</td>
                                    <td>{{}}</td>     
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="BrowsePagination">

                    </div>
                </div>
            </div>
    </section>
</div>

