<div class="m-t-20 m-b-20">
    <h2 class="page-title inline-block m-t-0 m-b-0 p-l-10">Samples</h2>
    <div class="alert alert-danger inline-block m-l-5 m-b-0" style="width:84%;" role="alert" ng-show="MessagesData.length > 0" ng-cloak>
        <span ng-repeat="m in MessagesData">{{m}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<div>
    <div class="main-content">
        <section id="left" class="m-l-20 col-sm-12 col-md-12 col-lg-6">
            <div class="col-lg-12">
                <div class="panel panel-default m-b-20">
                    <span class="panel-heading">Sample Entry</span>
                    <div id="sampleInfo" class="panel-body-padding clearfix">
                        <div class="cols col-lg-12">
                            <form id="entryForm" name="entryForm" class="clearfix" novalidate>
                                <div class="col-sm-12 col-md-12 col-lg-6 p-r-15">
                                    <div class="form-group">
                                        <label class="control-label">Sample Type:</label>
                                        <select id="cboSampleType" name="cboSampleType" class="form-control" ng-required="required" ng-model="Sample.SampleTypeNumber" ng-change="Change()" ng-disabled="disabledUpdate" tabindex="0">
                                            <option ng-repeat="st in SampleTypes" value="{{st.SampleTypeNumber}}">{{st.SampleTypeName}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label id="lblAccountNumber" class="control-label">Account #:</label>
                                        <input type="text" id="txtAccountNumber" name="txtAccountNumber" class="form-control" ng-required="required" ng-pattern="regNumeric" ng-model="Sample.AccountNumber" ng-disabled="disabled" ng-readonly="readonly" ng-blur="FindAccount()" tabindex="1" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Grower:</label>
                                        <input type="text" id="acoGrower" name="acoGrower" class="form-control text-uppercase" ng-required="required" ng-model="Sample.Grower" ng-blur="Validate(entryForm.acoGrower, 'acoGrower', 'Required field')" ng-disabled="disabled" ng-readonly="readonly" tabindex="2" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Batch Number:</label>
                                        <input type="text" id="txtBatchNumber" name="txtBatchNumber" class="form-control" ng-required="required" ng-readonly="readonly" ng-pattern="regBatch" ng-minlength="8" ng-maxlength="8" ng-model="Sample.BatchNumber" ng-blur="SetDateReported()" tabindex="3" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Lab Number:</label>
                                        <input type="text" id="txtLabNumber" name="txtLabNumber" class="form-control" ng-required="required" ng-readonly="readonly" ng-pattern="regNumeric" ng-model="Sample.LabNumber" ng-blur="Validate(entryForm.txtLabNumber, 'txtLabNumber', 'Must be numeric')" tabindex="4" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Report Type #:</label>
                                        <input type="text" id="txtReportTypeNumber" name="txtReportTypeNumber" class="form-control" ng-required="required" ng-disabled="disabled" ng-readonly="readonly" ng-pattern="regNumeric" ng-model="Sample.ReportTypeNumber" ng-blur="GetReportName()" tabindex="5" />
                                        <!-- Button trigger modal -->
                                        <i id="reportModalIcon" class="fa fa-white fa-2x fa-search" ng-disabled="disabled" ng-readonly="readonly" data-toggle="modal" data-target="#reportItemsModal" ng-click="GetReportItems()"></i>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Report Name:</label>
                                        <label id="lblReportName">{{Sample.ReportName}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Date Received:</label>
                                        <div class="input-group date dateReceived" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-today-highlight="true" data-date-autoclose="true" data-date-orientation="bottom">
                                            <input type="text" id="dpkDateReceived" name="dpkDateReceived" class="form-control" ng-required="required" ng-pattern="regDate" ng-model="Sample.DateReceived" ng-blur="ValidateSampleDates()" ng-disabled="disabled" ng-readonly="readonly" tabindex="6" />
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Date Reported:</label>
                                        <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-today-highlight="true" data-date-autoclose="true" data-date-orientation="bottom">
                                            <input type="text" id="dpkDateReported" name="dpkDateReported" class="form-control" ng-required="required" ng-pattern="regDate" ng-model="Sample.DateReported" ng-blur="ValidateSampleDates()" ng-disabled="disabledUpdate || disabled" ng-readonly="readonly" tabindex="7" />
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Cost Type:</label>
                                        <select id="cboCostTypeNumber" name="cboCostTypeNumber" class="form-control" ng-required="required" ng-model="Sample.CostTypeNumber" ng-blur="Validate(entryForm.cboCostTypeNumber, 'cboCostType', 'Required field')" ng-disabled="disabled" ng-readonly="readonly" tabindex="8">
                                            <option value="0">No Cost</option>
                                            <option value="1">Standard</option>
                                            <option value="2">Volume/Grid</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 p-r-15">
                                    <!--Start of Dynamic labels-->
                                    <div class="form-group">
                                        <label class="control-label">{{SampleColumns[0].Label}}:</label>
                                        <input type="text" id="{{SampleColumns[0].ID}}" name="{{SampleColumns[0].ID}}" class="form-control text-uppercase" ng-required="required" ng-disabled="disabled" ng-readonly="readonly" ng-model="Sample.SampleID1" ng-blur="Validate(entryForm.txtSampleID1, 'txtSampleID1', 'Required field')" tabindex="9" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">{{SampleColumns[1].Label}}:</label>
                                        <input type="text" id="{{SampleColumns[1].ID}}" name="{{SampleColumns[1].ID}}" class="form-control text-uppercase" ng-required="required" ng-disabled="disabled" ng-readonly="readonly" ng-blur="Validate(entryForm.txtSampleID2, 'txtSampleID2', 'Required field')" ng-model="Sample.SampleID2" tabindex="10" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">{{SampleColumns[2].Label}}:</label>
                                        <input type="text" id="{{SampleColumns[2].ID}}" name="{{SampleColumns[2].ID}}" class="form-control text-uppercase" ng-model="Sample.SampleID3" ng-disabled="disabled" ng-readonly="readonly" tabindex="11" />
                                    </div>
                                    <div ng-hide="{{SampleColumns[0].SampleTypeNumber == 12}}">
                                        <div class="form-group">
                                            <label class="control-label">{{SampleColumns[3].Label}}:</label>
                                            <input type="text" id="{{SampleColumns[3].ID}}" name="{{SampleColumns[3].ID}}" class="form-control text-uppercase" ng-model="Sample.SampleID4" ng-disabled="disabled" ng-readonly="readonly" tabindex="12" />
                                        </div>
                                        <div class="form-group" ng-hide="{{SampleColumns[0].SampleTypeNumber == 12}}">
                                            <label class="control-label">{{SampleColumns[4].Label}}:</label>
                                            <input type="text" id="{{SampleColumns[4].ID}}" name="{{SampleColumns[4].ID}}" class="form-control text-uppercase" ng-model="Sample.SampleID5" ng-disabled="disabled" ng-readonly="readonly" tabindex="13" />
                                        </div>
                                    </div><!-- Date in and Date out appear when sample type Resin is selected -->
                                    <div ng-show="{{SampleColumns[0].SampleTypeNumber == 12}}">
                                        <div class="form-group">
                                            <label class="control-label">{{SampleColumns[3].Label}}:</label>
                                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true" data-date-autoclose="true" data-date-orientation="bottom">
                                                <input type="text" id="{{SampleColumns[3].ID}}" name="{{SampleColumns[3].ID}}" class="form-control" @*ng-required="required" ng-pattern="regDate"*@ ng-model="Sample.SampleID4" ng-blur="ValidateSampleDates()" ng-disabled="disabled" ng-readonly="readonly" tabindex="14" />
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">{{SampleColumns[4].Label}}:</label>
                                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true" data-date-autoclose="true" data-date-orientation="bottom">
                                                <input type="text" id="{{SampleColumns[4].ID}}" name="{{SampleColumns[4].ID}}" class="form-control" @* ng-required="required" ng-pattern="regDate"*@ ng-model="Sample.SampleID5" ng-blur="ValidateSampleDates()" ng-disabled="disabled" ng-readonly="readonly" tabindex="15" />
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Invoice Number</label>
                                        <label id="lblInvoiceNumber" name="lblInvoiceNumber" class="" ng-model="Sample.InvoiceNumber">{{Sample.InvoiceNumber}}</label>
                                    </div>
                                    <!-- End of Dynamic labels and inputs-->
                                    <div class="form-group">
                                        <label>Account Information:</label>
                                        <div id="customerInfo" class="well col-sm-6 col-md-7 col-lg-7 p-15 m-r-5 pull-right">
                                            <i><label id="lblAccountName" ng-show="Account.Name">{{Account.Name}}</label></i>
                                            <i><label id="lblAccountCompany" ng-show="Account.Company">{{Account.Company}}</label></i>
                                            <i><label id="lblAccountAddress" ng-show="Account.Address1">{{Account.Address1}}</label></i>
                                            <i><label id="lblAccountCityStZip" ng-show="Account.CityStZip">{{Account.CityStZip}}</label></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="btn-container" class="m-t-15 clearfix">
                                <input id="txtAction" class="hidden-lg hidden-md hidden-sm hidden-xs" ng-model="action" />
                                <div id="btn-group-primary" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="readonly">
                                    <a id="btnPrevSample" class="btn btn-warning btn-md" ui-sref="sampleEntry.prev" ng-disabled="disablePrev">Prev</a>
                                    <a id="btnNextSample" class="btn btn-warning btn-md m-l-30" ui-sref="sampleEntry.next" ng-disabled="disableNext">Next</a>
                                    <a id="btnFindSample" class="btn btn-info btn-md m-l-30" ui-sref="sampleEntry.find">Find</a>
                                    <a id="btnAddSample" class="btn btn-success btn-md m-l-30" ui-sref="sampleEntry.add">Add</a>
                                    <a id="btnUpdateSample" class="btn btn-primary m-l-30" ui-sref="sampleEntry.update">Update</a>
                                    <a id="btnDeleteSample" class="btn btn-danger btn-md m-l-30" ui-sref="sampleEntry.delete">Delete</a>
                                </div>
                                <div id="btn-group-secondary" class="col-xs-12 col-sm-12 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-1 m-t-10" ng-hide="readonly">
                                    <a id="btnBlank" class="btn btn-default btn-md vis-hidden"></a>
                                    <a id="btnCommit" class="btn btn-success btn-md" ui-sref="sampleEntry.commit" tabindex="50">Commit</a>
                                    <a id="btnCancel" class="btn btn-warning m-l-30" ui-sref="sampleEntry.commit" tabindex="50">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <ng-include src="Content/templates/partials/partialNotes.html"></ng-include>
            </div>
        </section>
        <ng-include src="Content/templates/partials/partialSoil.html"></ng-include>                
    </div>
    <ng-include src="Content/templates/partials/discardChanges.html"></ng-include>
</div>
