<section id="right" class="col-sm-12 col-md-12 col-lg-5" ng-show="rightSide">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <span class="panel-heading">Sample Information</span>
            <div id="sampleRecs" class="panel-body-padding clearfix">
                <div id="soil" ng-show="soilView">
                    <div id="sampleRecsTop" class="col-lg-12">
                        <form id="frmSampleInfo" name="frmSampleInfo">
                            <div class="col-lg-2">
                                <div class="form-group m-b-5">
                                    <label>Top Soil</label>
                                    <input type="checkbox" id="chkTopSoil" name="chkTopSoil" ng-readonly="readonly" ng-checked="{{chkTopSoil}}" ng-click="SetDepth()" ng-model="chkTopSoil" tabindex="16" />
                                </div>
                                <div id="linkToSoil" ng-show="linkToSoil">
                                    <div class="form-group">
                                        <label>Link Soil</label>
                                        <input type="checkbox" id="chkLinkToSoil" ng-readonly="readonly" ng-checked="{{SoilSample.LinkedSampleBatch}}" ng-model="chkLinkToSoil" tabindex="17" />
                                    </div>
                                </div>
                            </div>
                            <div id="depthCol" class="col-lg-6">
                                <label class="control-label"></label><span class="color-white m-l-30">Begin</span><span class="color-white m-l-30">End</span>
                                <div class="form-group">
                                    <label class="control-label">Depth</label>
                                    <input type="text" id="txtBeginDepth" name="txtBeginDepth" class="form-control" ng-disabled="disabled" ng-readonly="readonly" ng-model="SoilSample.BeginningDepth" ng-required="required" ng-pattern="regNumeric" ng-blur="Validate(frmSampleInfo.txtBeginDepth, 'txtBeginDepth', 'Must be numeric')" tabindex="18" />
                                    <input type="text" id="txtEndDepth" name="txtEndDepth" class="form-control" ng-disabled="disabled" ng-readonly="readonly" ng-model="SoilSample.EndingDepth" ng-required="required" ng-pattern="regNumeric" ng-blur="Validate(frmSampleInfo.txtEndDepth, 'txtEndDepth', 'Must be numeric')" tabindex="19" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-7">Past Crop</label>
                                    <select id="cboPastCropNumber" class="form-control" ng-disabled="disabled" ng-readonly="readonly" ng-required="required" ng-model="SoilSample.PastCropNumber" tabindex="20">
                                        <option ng-repeat="pc in PastCrops" value="{{pc.PastCropNumber}}">{{pc.PastCropName}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                            <div id="sampleChain" class="col-lg-3" ng-show="SoilSamples.length > 1">
                                <div class="form-group">
                                    <label class="control-label">Sample Chain</label><br />
                                    <table id="tblSampleChain" class="table table-condensed table-bordered table-responsive col-lg-11">
                                        <thead>
                                            <tr><th>Lab</th><th>Depth</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ss in SoilSamples"><!--<td class="edit text-right">{{ss.LabNumber}}</td><td class="edit">{{ss.BeginningDepth}}:{{ss.EndingDepth}}</td>--></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>                        
                    </div>
                    <div id="#sampleRecsMiddle">
                        <form id="frmSampleLinks" name="frmSampleLinks">
                            <div id="linkToSample" ng-hide="chkTopSoil" class="well well-sm well-sm col-sm-5 col-md-5 col-lg-6 p-l-10">
                                <span>Link to Sample</span>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <input type="text" id="txtLinkSoilBatch" name="txtLinkSoilBatch" class="form-control m-l-30" ng-disabled="disabled" ng-readonly="readonly" ng-model="SoilSample.LinkedSampleBatch" ng-required="required" ng-pattern="regNumeric" ng-blur="Validate(frmSampleLinks.txtLinkSoilBatch, 'txtLinkSoilBatch', 'Must be numeric')" tabindex="21" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Lab</label>
                                    <input type="text" id="txtLinkSoilLab" name="txtLinkSoilBatch" class="form-control m-l-30" ng-disabled="disabled" ng-readonly="readonly" ng-model="SoilSample.LinkedSampleLab" ng-required="required" ng-pattern="regNumeric" ng-blur="Validate(frmSampleLinks.txtLinkSoilLab, 'txtLinkSoilLab', 'Must be numeric')" tabindex="22" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Available</label>
                                    <select id="cboLinkSoilAvailable" name="cboLinkSoilAvailable" class="form-control m-l-30" ng-disabled="disabled" ng-readonly="readonly" ng-model="SoilSample.Available" tabindex="23">
                                        <option ng-repeat="ts in TopSoils" value="{{ts}}">{{ts}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div id="soilSampleLink" class="well well-sm col-sm-5 col-md-5 col-lg-5 m-l-15 p-l-10" ng-show="true">
                        <span>Soil Sample Link</span>
                        <div class="form-group">
                            <label class="control-label">Test #</label>
                            <select id="cboTestNumber" class="form-control" ng-readonly="readonly"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Batch</label>
                            <input type="text" id="txtSoilSampleLinkBatch" class="form-control m-l-30" ng-readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Lab</label>
                            <input type="text" id="txtSoilSampleLinkLab" class="form-control m-l-30" ng-readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Invoice</label>
                            <input type="text" id="txtSoilSampleLinkInvoice" class="form-control m-l-30" ng-readonly="readonly" />
                        </div>
                    </div>-->
                        </form>
                    </div>
                    <div id="sampleRecsBottom" class="pull-left clear-left" ng-show="Recommendations.length > 0  || action == 'add' || action == 'update'">
                        <h3>Soil Recommendations</h3>
                        <form id="frmSampleRecs" name="frmSampleRecs" class="col-lg-12" novalidate>
                            <span>Rec Type</span><span style="margin-left: 160px;">Crop Type</span><span style="margin-left: 115px;">Yield Goal</span>
                            <div id="recommendations" ng-repeat="rec in Recommendations">
                                <input id="acoRecTypes{{$index}}" name="acoRecTypes" class="form-control text-uppercase" auto-complete="RecTypes" ng-readonly="readonly" ng-disabled="disabled" ng-required="required" ng-model="Recommendations[$index].RecTypeName" ng-keydown="" ng-keyup="" ng-blur="ValidateTypes($index, 'Rec')" tabindex="{{23 + $index}}" />
                                <input id="acoCropTypes{{$index}}" name="acoCropTypes" class="form-control text-uppercase" auto-complete="CropTypes" ng-readonly="readonly" ng-disabled="disabled" ng-required="required" ng-model="Recommendations[$index].CropTypeName" ng-blur="ValidateTypes($index, 'Crop')" tabindex="{{23 + $index}}" />
                                <input type="text" id="txtYieldGoal{{$index}}" name="txtYieldGoal" class="form-control text-right" ng-readonly="readonly" ng-required="required" ng-model="Recommendations[$index].YieldGoal" ng-pattern="regNumeric" ng-blur="ValidateYieldGoal($index)" tabindex="{{23 + $index}}" />
                                <button class="btn btn-sm btn-danger" ng-click="RemoveRec($index)" ng-show="action == 'update' || action == 'add'" tabindex="-1"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                            <button class="btn btn-sm btn-success" ng-click="AddRec()" ng-show="action == 'update' || action == 'add'" tabindex="{{23 + ($index + 1)}}"><span class="glyphicon glyphicon-plus"></span></button>
                        </form>
                    </div>
                </div>
                <div id="other" class="m-10" ng-show="otherView">
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select id="cboType" class="form-control" ng-readonly="readonly" ng-disabled="disabled" ng-model="SubSampleInfo.SubSampleTypeNumber">
                            <option ng-repeat="sst in SubSampleTypes" value="{{sst.SubSampleTypeNumber}}">{{sst.SubSampleTypeName}}</option>
                        </select>
                    </div>
                </div>                
                <div id="plant" class="m-10" ng-show="plantView">
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select id="cboPlantType" class="form-control" ng-blur="GetSubSubSampleTypes()" ng-readonly="readonly" ng-disabled="disabled" ng-model="SubSampleInfo.SubSampleTypeNumber">
                            <option ng-repeat="sst in SubSampleTypes" value="{{sst.SubSampleTypeNumber}}">{{sst.SubSampleTypeName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Plant</label>
                        <select id="cboPlant" class="form-control" ng-readonly="readonly" ng-disabled="disabled" ng-model="SubSampleInfo.SubSubSampleTypeNumber">
                            <option ng-repeat="ssst in SubSubSampleTypes" value="{{ssst.SubSubSampleTypeNumber}}">{{ssst.SubSubSampleTypeName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>